.alert {
	padding: 10px;
	border: 1px solid #fbeed5;
	color: #c09853;
	background: #fcf8e3;
}

.alert-warning {
	border: 1px solid #eed3d7;
	color: #b94a48;
	background: #f2dede;
}

.alert-success {
	border: 1px solid #d6e9c6;
	color: #468847;
	background: #dff0d8;
}

.alert-info {
	border: 1px solid #bce8f1;
	color: #3a87ad;
	background: #d9edf7;
}